
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 30px;
}

.gray{
  color:#918E9B;
}